<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="ARouter demo"
        android:theme="@style/Base.Theme.AppCompat">
        <activity
            android:name=".SchemeFilterActivity"
            android:exported="true">

            <!-- Scheme -->
            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.aliyun.com"
                    android:scheme="http" />
                <data
                    android:host="m.aliyun.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.activity.SampleActivity"
            android:exported="false"
            android:label="OneActivity" />
        <activity
            android:name=".sample.activity.OneActivity"
            android:exported="false"
            android:label="OneActivity" />
        <activity
            android:name=".sample.activity.TwoActivity"
            android:exported="false"
            android:label="TwoActivity" />
        <activity
            android:name=".sample.activity.ThreeActivity"
            android:exported="false"
            android:label="ThreeActivity" />
        <activity
            android:name=".sample.activity.FourActivity"
            android:exported="false"
            android:label="FourActivity" />
        <activity
            android:name=".sample.activity.FiveActivity"
            android:exported="false"
            android:label="FiveActivity" />
        <activity
            android:name=".sample.activity.LoginActivity"
            android:exported="false"
            android:label="LoginActivity" />
    </application>

</manifest>